<h1>Tensorflow.js - toxic comments</h1>
<div>
    <pre>
    Using @Tensorflow-models/toxicity you can identify toxic comments in real time.
    the following is a code example that demonstrate how to use toxicity in a angular service
    </pre>

  <div>
    <label>Write a comment below</label><br/>
    <input
      type="text"
      name="a"
      placeholder="Write a comment here"
      [ngModel]="inputValue"
      (ngModelChange)="onInputupdate($event)"
    />
  </div>

  <h2>
    {{ classification }}
  </h2>

  <div>
    <pre>
        <code class="typescript">
            {{example}}
        </code>
    </pre>
  </div>
</div>
