.video-container{
    max-width:50%;
    min-width:300px;
}

.video-clf{
    width:100%
}

.clf-container{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    animation: all 1s;

    flex-wrap: wrap;
}

.clf-preds{
    width:45%
}