img{
    width:50%;
    min-width: 300px
}

.clf-container{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    animation: all 1s;
    flex-wrap: wrap;
}

.clf-preds{
    width: 45%
}